doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='content-type' content='text/html; charset=utf-8')
    title= title
    meta(name='description' content='A simple app for doing 1 question surveys.')
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    header
      h1= title
      p.message= message
      
    main
      block content

    script(src='/js/app.js')
