extends layout.pug

block content
  form(method='post' action='/survey/submit/' + data.code)
    section.name
      label Welcome back 
      input(type='text' name='name')
      input(type='hidden' name='client' value=data.client)
    section.question
      p= data.question
    ul.answers
      each val in data.answers
        li.answer
          label
            input(type='radio' value='val' name='response')
            =val
    section.actions
      input(type='submit')
